* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.main_box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anime {
  background: linear-gradient(to bottom, gray, blue);
  background-size: 100% 200%;
  animation: gradientMove 10s infinite ease-in alternate-reverse;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: coral;
  transition: 0.7s cubic-bezier(0.1, 0.6, 0.265, 1.55);
}

.bounce:hover {
  transform: translate(0, -10px);
}

.bounce:active {
  transform: scale(5%, 5%);
}

@keyframes movePosition {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -10px);
  }
}

@keyframes expandFromCenter {
  0% {
    clip-path: circle(0% at center);
    opacity: 0;
  }
  100% {
    clip-path: circle(150% at center);
    opacity: 1;
  }
}
@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: -100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
